modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BIlnTE3vzi22F47DhYzkX8x615kmwWOT_gXwt7ZRQvXJGXeKxr9Y5a-HNZujegK3nmfzMar_vH9x5kC0_EGalLE"
VAPID_SUBJECT = "mailto:admin@matjari.iq"
